[data-md-color-primary="custom"] {
  --md-primary-fg-color:        #192E26;
  --md-primary-fg-color--light: #234438;
  --md-primary-fg-color--dark:  #111f1b;
  --md-typeset-a-color:         #FDA769;
}